.navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #F5F5F5;
    border-radius: 0 0 2em 2em;
}

.logo {
    width: 8%;
}

.logo img {
    width: 100%;
}

.navbar .btn {
    background-color: darkblue;
    border-color: 0;
    color: white;
    font-weight: bold;
    border-radius: .7em;
    padding: .5em;
}

.navbar .btn:hover {
    background-color: rgb(0, 0, 180);
}

.navbar .nav-item {
    font-weight: 600;
}

.navbar .navbar-nav {
    margin-right: 1em;
}

.navbar .nav-item a {
    color: black;
}

.navbar .nav-item a:hover {
    opacity: .8;
}

.modal {
    display: none;
}

#RegisterModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal .register {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    margin-left: -.5em;
}

.modal .register span {
    color: lightgray;
}

.modal .register span a {
    color: lightgray;
    text-decoration: none;
}

.modal .register a:hover {
    color: darkblue;
    text-decoration: underline;
}

.modal #submit-button:hover {
    background-color: rgb(0, 0, 180);
}


.modal .label_gender {
    margin-left: -.5em;
    margin-bottom: .3em;
}

.modal .d-flex {
    margin-left: -.5em;
}

.menu img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu .dropdown-menu {
    margin-left: -8em;
}

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        justify-content: center;
    }

    .navbar .navbar-nav {
        margin-right: 0;
    }

    .navbar .nav-item a {
        display: inline-block;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .navbar .r_l_btn {
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 1em;
    }

    .menu img {
        display: block;
        margin: 0 auto;
    }

    .menu .dropdown-menu {
        margin-left: 50%;
        transform: translate(-50%);
    }
}