.col-lg-3 .search {
    padding-top: 2em;
}

.-title {
    font-size: 1.7em;
    text-align: center;
}


.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.title span {
    color: darkblue;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}


@media screen and (max-width: 991px) {
    .title {
        margin-top: 1em;
    }

    .alert-warning {
        margin-top: 1em !important;
        padding-top: 0 !important;
    }
}