@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/*MAIN*/

.swiper {
    height: 60vh;
    border-radius: 1em;
}

.swiper img {
    border-radius: 1em;
    width: 100%;
}

#search_parameters {
    position: relative;
    margin-top: -20em;
    z-index: 1;
    padding: 1.5em;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: darkblue;
    margin-bottom: 10em;
}

#search_parameters h2 {
    font-weight: 600;
}

#search_parameters form label {
    font-weight: bold;
}

#search_parameters form button {
    background-color: darkblue;
    color: white;
    font-weight: 500;
    border-radius: 2em;
}

#search_parameters form button:hover {
    background-color: rgb(0, 0, 180);
}

.col-lg-2 {
    margin-bottom: 2em;
}

.card {
    max-width: 100%;
    width: 300px;
    margin: auto;
    border-radius: 1em;
    transition: all 250ms ease;
    outline: none;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover {
    transform: scale(1.01);
    transition: all 250ms ease;
}

.card img {
    border-radius: 1em 1em 0 0;
}

.card-title {
    color: black;
}

h5 {
    text-align: center;
    text-transform: capitalize;
}

.card a {
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#testimonial {
    min-width: 100%;
}

#testimonial .swiper {
    min-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 1em;
    margin-bottom: 2em;
}

#testimonial .swiper-slide {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    max-width: 400px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 2em;
}

.user-image {
    width: 50px;
}

.user-image img {
    display: block;
    width: 100%;
    max-width: 47px;
    max-height: 47px;
    object-fit: cover;
    border-radius: 50%;
}

.review {
    padding: 1em;
    font-weight: 500;
}

.rating {
    font-size: .8em;
    color: orange;
}

/*ABOUT US*/

.about_us {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
}

.about_us .card {
    width: 80%;
    box-shadow: none;
    margin-bottom: 2em;
}

.about_us .card:hover {
    transform: none;
    transition: none;
}

.about_us .card-title {
    color: darkblue;
}

.about_us ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.about_us ul li {
    margin-top: .5em;
}

.about_us ul li::before {
    content: "¤";
    color: darkblue;
    font-size: 1em;
    font-weight: bold;
    margin-right: .20em;
}

/*CONTACT*/

.contact_us {
    min-width: 95%;
}

.map iframe {
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    height: 100%;
}

.container_2 {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 1em;
}

.dbox {
    width: 100%;
    color: darkblue;
    margin-bottom: 25px;
}

.dbox .icon:first-child {
    padding: 1.17em;
}

.dbox:last-child {
    margin-bottom: 0;
}

.dbox p {
    margin-bottom: 0;
}

.dbox p span {
    font-weight: 600;
    color: darkblue;
}

.dbox p a {
    color: darkblue;
    text-decoration: none;
}

.dbox p a:hover {
    text-decoration: underline;
}

.dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkblue;
    margin-right: 1em;
}

.dbox .icon span {
    font-size: 20px;
    color: white;
}


@media screen and (max-width: 1500px) {
    #search_parameters {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .abt {
        margin-top: 2em;
        width: 40%;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .abt {
        margin-top: 3em;
        width: 41%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .abt {
        margin-top: 4em;
        width: 41%;
    }
}

@media screen and (max-width: 1000px) {
    .main-images {
        margin-top: -1.5em;
    }

    .imgSwiper {
        height: auto;
    }

    .imgSwiper img {
        width: 100%;
    }

    .col-lg-8 {
        display: block;
        flex-direction: reverse;
    }

    #search_parameters {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 95%;
    }

    #search_parameters button {
        margin-top: 1em;
    }

    .card {
        margin-top: 2em;
    }

    .card .mb-3 {
        display: block;
        flex-direction: column;
    }

    .col-md-7 {
        width: 100%;
    }

    .abt {
        margin-top: 0;
        width: 100%;
    }

    .abt img {
        width: 90%;
    }

    .map {
        width: 100%;
    }

    .map iframe {
        height: 30vh;
    }

    .row_2 {
        flex-direction: column-reverse;
    }

    .col-lg-8 {
        order: 2;
    }

    .col-md-4 {
        order: 1;
    }

    .container_2 {
        width: 100%;
    }
}
